<div th:fragment="footer">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Вернуться в начало</a>
        </p>
        <p class="mb-1">Спасибо © Bootstrap, с тобой учеба гораздо легче!</p>
        <p class="mb-1">Сайт не предназначен для коммерческого использования, все исходные данные используются в учебных целях!</p>
        <p class="mb-0">Хочешь посмотреть мои работы? <a href="https://github.com/LeonidKulakov">GitHub</a> Загляни, мне будет приятно.</p>
    </div>
</div>
